<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
</head>
<body>
    welcome to admin pannel{{uname}}
    {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         <p style="background-color: aliceblue;color: rgb(197, 50, 50); text-align: center;">{{ message }}</p>
      {% endfor %}
   {% endif %}
{% endwith %}
<a href="/adduser">Add new user</a>
    <a href="/notcontact">contact us notification</a>
</body>
</html>